*.class
*.jar
*.xml
*.iml
out/production/simpleRadarSimulation/mainView/MainView.fxml
out/production/simpleRadarSimulation/etf/gui/view/mainView/MainView.fxml
out/production/simpleRadarSimulation/etf/gui/view/detailsView/DetailsView.fxml
out/production/simpleRadarSimulation/etf/gui/view/CrashView/ListAllCrashes.fxml
out/production/simpleRadarSimulation/detailsView/DetailsView.fxml
out/production/simpleRadarSimulation/CrashView/ListAllCrashes.fxml
lib/javafx.properties
out/production/simpleRadarSimulation/map.txt
out/production/simpleRadarSimulation/etf/files/map.txt
out/production/simpleRadarSimulation/etf/files/config.properties
out/production/simpleRadarSimulation/config.properties
out/production/simpleRadarSimulation/META-INF/simpleRadarSimulation.kotlin_module
out/production/simpleRadarSimulation/etf/files/alert/proba.txt
out/production/simpleRadarSimulation/alert/proba.txt
